{#
/**
* @file
* Template for the cards style.
*/
#}

<ul class="anim-slider">

    
    {% for item in data %}

        
        <li class="anim-slide">
            
            {% if item.image %}
            <div id="animate-{{item.image.label}}">
                {{item.image.value}}
            </div>
            {% endif %}

            {% if item.string %}
            <div class="animate-caption" id="animate-{{item.string.label}}">
                {{item.string.value}}
            </div>
            {% endif %}
                
            {% if item.text_with_summary.value %}
            <div class="animate-bodycaption" id="animate-{{item.text_with_summary.label}}">
                {{item.text_with_summary.value}}
            </div>
            {% endif %}
            
            {% if item.link %}
            <div class="animate-link" id="animate-{{item.link.label}}">
                {{item.link.value}}
            </div>
           {% endif %}

        </li>
    {% endfor %}


    <!-- Arrows -->
    <nav class="anim-arrows">
        <span class="anim-arrows-prev"></span>
        <span class="anim-arrows-next"></span>
    </nav>

</ul>