{#
/**
* @file
* Template for the cards style.
*/
#}

<ul class="anim-slider">


    {% for item in data %}

        <li class="anim-slide">
            <div id="animate-{{item.image.label}}">
                {{item.image.value}}
            </div>

            <div class="animate-caption" id="animate-{{item.caption.label}}">
                {{item.caption.value}}
            </div>


            <div class="animate-bodycaption" id="animate-{{item.bodycaption.label}}">
                {{item.bodycaption.value}}
            </div>

        </li>
    {% endfor %}


    <!-- Arrows -->
    <nav class="anim-arrows">
        <span class="anim-arrows-prev"></span>
        <span class="anim-arrows-next"></span>
    </nav>

</ul>